

#newsletter{
  background-color: #f3f3f3;
  font-size: 1.4rem;
  padding: 15px 0;
}
.newsletter-input{
  position: relative;
}
.newsletter-input input{
  height: 42px;
  padding: 10px;
  flex: 1;
  border: none;
}
.newsletter-input input:focus-visible{
  outline: unset;
}
#newsletter .btn--primary{
  height: 42px;
  position: absolute;
  right: 8px;
}
#newsletter i{
  margin-right: 8px;
}