/* sidenav */

.sidenav {
    height: 100%;
    max-width: 350px;
    width: 100%;
    background-color: var(--white-color);
    transition: 0.5s;
    padding: 5px 15px 15px;
    overflow: auto;
    margin-right: -400px;
    
  }


  .sidenav.open .closebtn {
    font-size: 3rem;
    padding: 0 5px;
  }
  .sidenav.open{
    margin-right: 0 ;
  }
  /* mini-cart */
  #mini-cart{
    position: fixed;
    z-index: 50 !important;
    top: 0;
    right: 0;
  }
  #mini-cart .product-name{
    font-size: 1.3rem;
    font-weight: 500;
  }
  #mini-cart label{
    font-size: 1.3rem;
    font-weight: 500;
  }
  #mini-cart .product-img{
    display: inline-block;
    max-width: 80px;
    height: 80px;
    width: 100%
  }
  #mini-cart .product-info{
    margin-left : 10px;
  }
  .mini-cart__item{
    border-bottom: 1px dashed var(--border-color);
    padding: 10px 0;
  }
  .mini-cart__total{
    margin-top: 60px;
  }
  .mini-cart__router a {
    font-size: 1.4rem;
    font-weight: 300;
  }
  .empty-cart{
    /* filter: invert(42%) sepia(93%) saturate(1352%) hue-rotate(87deg) brightness(119%) contrast(119%); */
    max-width: 100px;
  }