/* popup */
/* .popup{
  background-color: #fefefe;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  z-index: 55;
  padding: 15px;
  width: 90%; 
  max-width: 900px;
  animation-name: zoom;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  border: 1px solid var(--grey-color);
  border-radius: 5px;
  overflow: auto;
} */
.popup-footer{
  border-top: 1px solid var(--border-color);
}
.popup-close {
  border-bottom: 1px solid var(--border-color);
}
.popup-close button{
  font-size: 2rem;
  font-weight: 800;
  color: #888;
}
.popup .sale{
  background-color: var(--red-color);
  display: inline-block;
  padding: 3px 10px;
  color: var(--white-color);
  border-radius: 6px;
  position: relative;
}
.popup .sale::before{
  position: absolute;
  right: -26px;
  top: 0;
  height: 100%;
  content: "";
  display: block;
  border-width: 15px;
  border-style: solid;
  border-color: transparent transparent transparent var(--red-color);
}
.popup .price-current{
  font-size: 2rem;
  font-weight: 500;
}
.popup .btn-size{
  width: 45px;
  height: 35px;
  line-height: 35px;

}
@keyframes zoom {
  from{
    opacity: 0;
  }
  to{
    opacity: 1;
  }
}
.Overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.7);
}