.form-group{
  margin-bottom: 10px;
}
.invalid-feedback{
  color: var(--red-color) ;
  font-size: 1.3rem !important;
}
.form-control{
  font-size: 1.6rem !important;
}
.form-label{
  font-size: 1.6rem;
}
.form-select{
  font-size: 1.6rem !important;
  margin-top: 20px;
}