
/* header */
#header-site{
  padding: 25px 0;
  background-color: var(--white-color);
  box-shadow: 1px 2px 8px rgba(0,0,0,0.1);
  overflow: smooth;
}
#logo{
  width:95px ;
  height:55px;
}
.nav-icon{
  display: none !important;
} 
.topbar{
  background-color: var(--black-color);
}
.topbar p{
  margin:0;
  padding: 3px 0;
  color: var(--white-color);
  font-size: 1.2rem;
  font-weight: 300;
}

.header-nav a{
  font-size: 2rem;
  font-weight: 700;
  margin: 0 12px;
  text-transform: uppercase;
  color: var(--black-color);
}
.header-icon button{
  margin:0 2px;
  transform: translateY(0px);
  transition: all 0.2s linear;
}
.header-icon button:hover{
  transform: translateY(-2px);
}


/* underline css */

.underline-css {
  position: relative;
}

.underline-css::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 4px;
  background-color:#0d6efd;
  transform-origin: bottom right;
  transform: scaleX(0);
  transition: transform 0.5s ease;
}

.underline-css:hover::before {
  transform-origin: bottom left;
  transform: scaleX(1);
}



.header.show{
  width: 100%;
  position: fixed;
  top: 0px;
  transition: 0.3s ease-out;
  z-index: 40;
  opacity: 1;
}
.header.hide{
  width: 100%;
  z-index: 40;
  border-bottom: 1px solid rgba(0, 0, 0, .1);
  box-shadow: 0 2px 5px -1px rgba(0, 0, 0, .08);
  position: fixed;
  top: -100%;
  opacity: 0;
  transition: 0.5s ease-out;
}