body{
  font-family:'Roboto',sans-serif !important;
  color: var(--black-color);
}
ul{
  padding-left: 0;
}
ul li{
  list-style: none;
}
a{
  text-decoration: none !important;
  color: var(--black-color) !important;
  display: inline-block;
  font-family: inherit;
}
a:hover{
  color: #0d6efd !important;
}
.color--red{
  color: #FF3535 !important;
}
img{
  object-fit: cover;
  width: 100%;
}



/* btn*/
.btn:focus{
  box-shadow: unset;
}
.btn-dark:hover{
  background-color: var(--white-color);
  color: var(--black-color);
}
.btn-link{
  font-size: 1.6rem !important;
}
.btn--primary {
  color: white !important;
  padding: 0.5em 0.8em;
  outline: none;
  border: 1px solid var(--black-color) !important;
  background-color: var(--black-color) !important;
  transition: all 0.2s linear !important;
  font-size: 1.6rem;
  text-align: center;
}
.btn--white{
  color: var(--black-color);
  padding: 0.5em 0.8em;
  outline: none;
  text-align: center;
  border: 1px solid var(--black-color);
  background-color: var(--white-color);
  transition: all 0.2s linear;
  font-size: 1.6rem;
}
.btn--white:hover{
  background-color: #ccc;
  color: var(--black-color);
}
.btn--primary:hover {
  cursor: pointer;
  color: var(--black-color) !important;
  background-color: var(--white-color) !important;
}
.btn-tab{
  font-size: 2rem;
  font-weight: 600;
  background-color: transparent;
  outline: none;
  border: none;
  font-family:'roboto' ,sans-serif ;
  border-bottom: 5px solid transparent;
  margin-bottom: 25px;
}
.btn-tab--active{
  color: var(--red-color);
  border-bottom: 5px solid var(--red-color);
}


/*btn-remove */
.btn-remove.btn{
  font-size: 1.4rem;
  box-shadow: unset;
  color: var(--border-color);
}
.btn-remove.btn:hover{
  color: var(--red-color);
}
/* underline css */
.underline-css {
  position: relative;
}

.underline-css::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 4px;
  background-color:#0d6efd;
  transform-origin: bottom right;
  transform: scaleX(0);
  transition: transform 0.5s ease;
}

.underline-css:hover::before {
  transform-origin: bottom left;
  transform: scaleX(1);
}
/* active-page */
.active{
  color: #0d6efd !important;
}
/* font-size */
.text{
  font-size: 1.6rem;
  font-weight:400;
  /* line-height: 3rem; */
}
.text-16{
  font-size: 1.6rem;
  font-weight: 300;
}
.heading-1{
  font-size: 2.4rem;
  font-weight: 500;
  margin-bottom: 25px;
}
.heading-page{
  font-size: 4.8rem;
  color: var(--red-color);
  margin: 50px 0;
}
.heading-blog{
  font-size: 3.6rem;
}
/* line-seperate */
.line-seperate{
  position: relative;
}
.line-seperate::after{
  content: "";
  display: block;
  border-bottom: 1px solid var(--border-color);
  width: 100%;
  position: absolute;
  bottom: -5px;
}

/* grid */
.grid{
  display: grid;
  grid-gap:30px;
}

.grid-col-6{
  display: grid;
  grid-gap:2px;  
  grid-template-columns: repeat(2, 1fr);
}


/* section-layout */
.section-layout{
  margin:40px 0;
}
.slider-nav{
  margin-top:6px;
}
.slider-nav__item {
  margin:0 3px;
}

.mr-20{
  margin-right: 60px;
}


input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* price */
#product-details .price-current{
  font-size: 2rem;
  font-weight: 500;
}
.price-current{
  font-size: 1.6rem;
  color: var(--red-color);
}
.price-old{
  font-size: 1.4rem;
  text-decoration: line-through;
}

#filter-product.block{
  display: block !important;
}

/* link social */
.icon-link {
  line-height: 36px;
  text-align: center;
  vertical-align: middle;
  display: inline-block;
  cursor: pointer;
  outline: none;
  margin: 8px;
  font-size: 2rem;
}
